<header id="header">
	<p>{{accounts.length}} ta accountlar</p>
	<button popovertarget='create-account' popovertargetaction='toggle'>Add</button>

</header>

<article id='accounts'>
	{{#each accounts}}
		<fieldset class='account' data-index='{{@index}}' data-role="{{role}}">
			<legend style='display:flex;align-items:center;gap:5px'>
				<img src='{{avatar}}' alt='{{username}}' width='50px' style='border-radius: 1000px;' />
				<img src='{{banner}}' alt='banner' width='100px' height="50px" style='border-radius: 5px;' />
			</legend>
			<div class='label'>
				<span class='title'>Avatar path:</span>
				<a class='value path' href='{{avatar}}'>{{avatar}}</a>
			</div>
			<div class='label'>
				<span class='title'>Banner path:</span>
				<a class='value path' href='{{banner}}'>{{banner}}</a>
			</div>
			<div class='label'>
				<span class='title'>Username:</span>
				<span class='value'>{{username}}</span>
			</div>
			<div class='label'>
				<span class='title'>First name:</span>
				<span class='value'>{{first_name}}</span>
			</div>
			<div class='label'>
				<span class='title'>Last name:</span>
				<span class='value'>{{last_name}}</span>
			</div>
			<div class='label'>
				<span class='title'>Role:</span>
				<span class='value role'>{{role}}</span>
			</div>
			{{#if (neq role "creator")}}
				<div style='display: flex; align-items: center; gap: 5px;'>
					<a href='/accounts?id={{_id}}' style='display: block;width: 100%;'>
						<button>View</button>
					</a>
						<form action='/account?id={{_id}}&_method=DELETE' method='post'>
							<button type='submit'>Delete</button>
						</form>
				</div>
			{{/if}}
			{{#if (eq _id ../user.id)}}
				<div id="my-account" hidden/>
			{{/if}}
		</fieldset>
	{{/each}}
	<article id='create-account' class='popover' popover='hint'>
		<fieldset>
			<legend>Create</legend>
			<form action='/signup?create=true' method='post'>
				<input type='text' name='first_name' placeholder='Enter first name' required />
				<input type='text' name='last_name' placeholder='Enter last name' required />
				<input type='text' name='username' placeholder='Enter username' required />
				<input type='text' name='password' placeholder='Enter password' required />
				<select name="role" id="role" >
					<option value="user">User</option>
					<option value="admin">Admin</option>
					<option value="creator">Creator</option>
				</select>
				<input type='submit' value='Create User' popovertargetaction='hide' />
			</form>
		</fieldset>
	</article>
</article>