<header id='header'>
	<button popovertarget='create-account' popovertargetaction='toggle'>Add</button>
</header>

<article id='animes'>
	{{#each animes}}
		<article class='anime' data-index='{{@index}}'>
			<img src='/{{poster}}' alt='{{anime}}' width='100%' style='border-radius: inherit;' />
			<div style='display: grid;'>
				<div class='label'>
					<span class='title'>Poster path:</span>
					<a class='value path' href='/{{poster}}' rel='external'>{{poster}}</a>
				</div>
				<div class='label'>
					<span class='title'>Name:</span>
					<span class='value'>{{anime}}</span>
				</div>
				<pre class='json'>{{json this}}</pre>
			</div>
		</article>
	{{/each}}
	<article id='create-account' class='popover' popover='hint'>
		<fieldset>
			<legend>Create</legend>
			<form action='/signup?create=true' method='post'>
				<input type='text' name='first_name' placeholder='Enter first name' required />
				<input type='text' name='last_name' placeholder='Enter last name' required />
				<input type='text' name='username' placeholder='Enter username' required />
				<input type='text' name='password' placeholder='Enter password' required />
				<select name='role' id='role'>
					<option value='user'>User</option>
					<option value='admin'>Admin</option>
					<option value='creator'>Creator</option>
				</select>
				<input type='submit' value='Create User' popovertargetaction='hide' />
			</form>
		</fieldset>
	</article>
</article>